---
import type { HTMLAttributes } from 'astro/types'
import Marquee from '@/components/headless/Marquee/Marquee.astro'
import MarqueeGroup from '@/components/headless/Marquee/MarqueeGroup.astro'
import { url } from '@/lib/url'

type Props = HTMLAttributes<'section'> & {
  href?: string
  text: string
  groups: number
}

const { text, href, groups, ...props } = Astro.props

const Wrapper = href ? 'a' : Fragment
---

<section {...props}>
  <h2 class="sr-only">{text}</h2>

  <Wrapper
    href={href || undefined}
    style={href ? `--cursor-url: url(${url('/cursor.svg')});` : undefined}
    class:list={{ link: href }}
  >
    <Marquee class="marquee">
      <MarqueeGroup groups={groups} class="marquee-group">
        <p class="text">{text}</p>
        <div class="dot"></div>
      </MarqueeGroup>
    </Marquee>

    <Marquee reverse aria-hidden="true" class="marquee">
      <MarqueeGroup groups={groups} class="marquee-group">
        <p class="text">{text}</p>
        <div class="dot"></div>
      </MarqueeGroup>
    </Marquee>
  </Wrapper>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .link {
    cursor:
      var(--cursor-url) 56.5 56.5,
      pointer;
  }

  .marquee {
    --marquee-gap: var(--spacing-5xl);
  }

  .marquee-group {
    gap: var(--spacing-5xl);
    align-items: center;
  }

  .dot {
    --size: #{fluid(rem(35px), rem(60px))};
    width: var(--size);
    height: var(--size);
    background-color: var(--colour-primary);
    border-radius: 50%;
  }

  .text {
    @include font(display-expressive-xl);
    color: var(--colour-text-muted);
    white-space: nowrap;
  }
</style>
