---
import Heading from '@/components/headless/Heading.astro'
import Button from '@/components/ui/Button.astro'
import FAQItem from '@/components/ui/FAQItem.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import { cn } from '@/lib/class-names'
import { url } from '@/lib/url'
import type { HTMLAttributes } from 'astro/types'

export type FAQGroup = {
  heading: string
  faqs: FAQ[]
}

export type FAQ = {
  question: string
  answer: string
}

type BaseProps = {
  heading?: string
  level?: number
  link?: true
  reversed?: true
}

type Props = HTMLAttributes<'section'> &
  BaseProps &
  (
    | {
        faqs: FAQ[]
      }
    | {
        groups: FAQGroup[]
      }
  )

const {
  heading = 'Have questions?',
  level = 2,
  link,
  reversed,
  class: className,
  ...props
} = Astro.props
---

<section
  class:list={cn('section container', className)}
  data-reversed={reversed || undefined}
  {...props}
>
  <div class="left">
    <SectionHeader eyebrow="FAQs" level={level}>{heading}</SectionHeader>

    <p>
      <slot>
        We’ve got answers! Dive into our FAQ to discover how our web design
        services work and what we can create for you. Wondering about something
        specific? Check below — and if it’s not there, just reach out!.
      </slot>
    </p>

    {
      link && (
        <Button variant="secondary-outline" href={url('/faq/')} arrow>
          Check all FAQs
        </Button>
      )
    }
  </div>

  <div class="right">
    {
      'faqs' in Astro.props && (
        <div class="faq-list">
          {Astro.props.faqs.map((faq) => (
            <FAQItem question={faq.question} level={level + 1}>
              {faq.answer}
            </FAQItem>
          ))}
        </div>
      )
    }
    {
      'groups' in Astro.props &&
        Astro.props.groups.map((group) => (
          <section class="faq-group">
            <Heading level={level + 1} class="h3">
              {group.heading}
            </Heading>

            <div class="faq-list">
              {group.faqs.map((faq) => (
                <FAQItem question={faq.question} level={level + 2}>
                  {faq.answer}
                </FAQItem>
              ))}
            </div>
          </section>
        ))
    }
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    gap: var(--spacing-5xl);
  }

  .left {
    display: grid;
    justify-items: start;
    gap: var(--spacing-xl);
  }

  .right {
    display: grid;
    gap: var(--spacing-2xl);
  }

  .faq-group {
    display: grid;
    gap: var(--spacing-xl);
  }

  .faq-list {
    display: grid;
    gap: var(--spacing-m);
  }

  @media screen and (min-width: rem(1024px)) {
    .section {
      grid-template-columns: repeat(2, auto);
      gap: var(--spacing-4xl);
      justify-content: space-between;
      align-items: start;

      &[data-reversed] > .left {
        order: 1;
      }
    }

    .left {
      max-width: rem(456px);
    }

    .right {
      max-width: rem(737px);
      gap: var(--spacing-4xl);
    }
  }
</style>
