---
import Button from '@/components/ui/Button.astro'
import Divider from '@/components/ui/Divider.astro'
import Logo from '@/components/ui/Logo.astro'
import { url } from '@/lib/url'
import { Icon } from 'astro-icon/components'
import Hamburger from '../ui/Hamburger.astro'

const links = [
  {
    name: 'Home',
    icon: 'home-rounded',
    href: url('/'),
  },
  {
    name: 'About',
    icon: 'about-filled',
    href: url('/about/'),
  },
  {
    name: 'Work',
    icon: 'portfolio',
    href: url('/work/'),
  },
  {
    name: 'Pricing',
    icon: 'receipt-pound-filled',
    href: url('/pricing/'),
  },
  {
    name: 'Blog',
    icon: 'conversation',
    href: url('/blog/'),
  },
  {
    name: 'Contact',
    icon: 'contact-book-fill',
    href: url('/contact/'),
  },
]
---

<nav class="nav">
  <div class="overlay"></div>

  <div class="container">
    <div class="glow-container" aria-hidden="true"></div>

    <a href={url('/')} class="logo-link">
      <Logo class="logo" />
    </a>

    <ul class="links">
      {
        links.map((link) => (
          <li>
            <a href={link.href} class="link">
              <Icon name={link.icon} class="link-icon" />
              <span>{link.name}</span>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="cta">
      <Button href={url('/project-planner/')} class="cta-button">
        Start a project.
      </Button>
    </div>

    <Divider size="m" class="divider" />

    <button class="hamburger" aria-label="Toggle navigation menu">
      <Hamburger class="hamburger-icon" />
    </button>
  </div>
</nav>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .nav {
    --transition-duration: var(--transition-duration-default);

    position: fixed;
    left: 0;
    top: var(--spacing-s);
    width: 100%;
    z-index: 10;

    overflow-y: hidden;

    transition: transform var(--transition-duration)
      var(--transition-ease-default);

    &[data-hidden] {
      --transition-duration: var(--transition-duration-l);

      transform: translateY(calc(-100% - var(--spacing-s)));
    }

    &[data-show] {
      --transition-duration: var(--transition-duration-default);

      transform: none;
    }
  }

  .overlay {
    display: none;
  }

  .container {
    --max-width: calc(100vw - var(--spacing-s) * 2);
    --padding-inline: var(--spacing-2xl);

    --border-colour: transparent;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);

    border: var(--border-width-s) solid var(--border-colour);

    transition:
      height var(--transition-duration-default) var(--transition-ease-default),
      max-width var(--transition-duration-default)
        var(--transition-ease-default),
      border-radius var(--transition-duration-default)
        var(--transition-ease-default);
  }

  .glow-container {
    display: none;
  }

  .logo {
    width: #{linear(rem(97px), rem(194px))};
    height: #{linear(rem(25px), rem(49px))};
    color: var(--colour-text-contrast);
  }

  .links {
    display: none;
  }

  .cta {
    display: none;
  }

  .nav[data-scrolled] {
    .container {
      --max-width: calc(
        min(100vw, #{rem(1440px)}) - (var(--spacing-container) * 2) -
          (var(--padding-inline) * 2)
      );

      --border-colour: color-mix(
        in srgb,
        var(--colour-border-contrast) 5%,
        transparent
      );

      border-radius: var(--border-radius-2xl);
      background-color: color-mix(
        in srgb,
        var(--colour-surface-base) 40%,
        transparent
      );
      backdrop-filter: blur(10px);
    }
  }

  .nav[data-expanded] {
    .overlay {
      display: block;

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: color-mix(
        in srgb,
        var(--colour-surface-base) 80%,
        transparent
      );
      backdrop-filter: blur(10px);
    }

    .container {
      --max-width: calc(100vw - var(--spacing-s) * 2);

      --border-colour: transparent;

      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-areas:
        'logo hamburger'
        'divider divider'
        'links links'
        'cta cta';
      align-content: start;
      gap: var(--spacing-3xl);

      border-radius: var(--border-radius-l);

      background-color: var(--colour-surface-base);

      max-height: calc(100dvh - var(--spacing-s) * 2);

      overflow-x: hidden;
      overflow-y: auto;

      transition: none;
    }

    .glow-container {
      display: block;

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;

      &::before,
      &::after {
        content: '';
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        width: 200%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-image: radial-gradient(
          var(--colour-primary),
          transparent,
          transparent
        );
        opacity: 0.15;
      }

      &::before {
        left: -15%;
        top: 70%;
      }

      &::after {
        left: 115%;
        top: 22%;
      }
    }

    .logo {
      grid-area: logo;
    }

    .hamburger {
      grid-area: hamburger;
      justify-self: end;

      :global(.line:nth-child(1)) {
        transform: translateY(6px) rotateZ(45deg);
      }

      :global(.line:nth-child(2)) {
        display: none;
      }

      :global(.line:nth-child(3)) {
        transform: translateY(-6px) rotateZ(-45deg);
      }
    }

    .divider {
      grid-area: divider;
      margin-top: calc(var(--spacing-xl) - var(--spacing-3xl));
    }

    .links {
      display: grid;
      gap: var(--spacing-3xl);
      grid-area: links;
    }

    .link {
      @include font(link-lg);
      display: flex;
      align-items: center;
      gap: var(--spacing-s);
    }

    .cta {
      display: block;
      grid-area: cta;
    }

    .cta-button {
      width: 100%;
    }
  }

  @media screen and (min-width: rem(1024px)) {
    .container {
      --max-width: #{rem(1800px)};
    }

    .links {
      display: flex;
      align-items: center;
      gap: var(--spacing-xl);
      color: var(--colour-text-contrast);
    }

    .link {
      @include font(body);
    }

    .link-icon {
      display: none;
    }

    .cta {
      display: block;
    }

    .hamburger {
      display: none;
    }

    .divider {
      display: none;
    }
  }
</style>

<script>
  import throttle from 'lodash/throttle'

  const sentinel = document.querySelector('#scroll-sentinel')!
  const nav = document.querySelector<HTMLElement>('.nav')!
  const container = document.querySelector<HTMLElement>('.container')!
  const hamburger = nav.querySelector('.hamburger')!
  const overlay = nav.querySelector('.overlay')!

  function open() {
    document.body.style.overflow = 'hidden'
    document.body.style.height = '100dvh'

    nav.setAttribute('data-expanded', '')
  }

  function close() {
    nav.removeAttribute('data-expanded')

    document.body.style.overflow = ''
    document.body.style.height = ''
  }

  function reset() {
    container.style.height = ''
    container.style.overflowY = ''

    nav.removeAttribute('data-expanded')

    document.body.style.overflow = ''
    document.body.style.height = ''
  }

  hamburger.addEventListener('click', () => {
    if (!nav.hasAttribute('data-expanded')) {
      open()
    } else {
      close()
    }
  })

  overlay.addEventListener('click', () => {
    if (nav.hasAttribute('data-expanded')) {
      close()
    }
  })

  window.addEventListener('keydown', (event) => {
    if (event.key === 'Escape' && nav.hasAttribute('data-expanded')) {
      close()
    }
  })

  const query = window.matchMedia('(min-width: 64rem)')

  query.addEventListener('change', (event) => {
    if (event.matches) {
      reset()
    }
  })

  const scrolledObserver = new IntersectionObserver(([entry]) => {
    nav.toggleAttribute('data-scrolled', !entry.isIntersecting)
  })

  scrolledObserver.observe(sentinel)

  const hiddenObserver = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
        nav.removeAttribute('data-hidden')
      } else {
        nav.setAttribute('data-hidden', '')
      }
    },
    {
      rootMargin: '30%',
    },
  )

  hiddenObserver.observe(sentinel)

  let scrollY = window.scrollY

  window.addEventListener(
    'scroll',
    throttle(() => {
      if (window.scrollY < scrollY) {
        nav.setAttribute('data-show', '')
      } else {
        nav.removeAttribute('data-show')
      }

      scrollY = window.scrollY
    }, 200),
  )
</script>
