---
import type { HTMLAttributes } from 'astro/types'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import type { CollectionEntry } from 'astro:content'
import { cn } from '@/lib/class-names'
import Tags from '@/components/ui/Tags.astro'
import Button from '@/components/ui/Button.astro'
import Image from '../headless/Image.astro'

type Props = HTMLAttributes<'section'> & {
  project: CollectionEntry<'work'>
}

const { project, class: className, ...props } = Astro.props
---

<section class:list={cn('section container', className)} {...props}>
  <SectionHeader eyebrow={project.data.client} class="header">
    {project.data.heading}
  </SectionHeader>

  <div class="project-info">
    <Tags tags={project.data.tags} />

    <Button
      href={project.data.url}
      target="_blank"
      variant="secondary-outline"
      arrow
    >
      Visit site
    </Button>
  </div>

  <div class="mockup-card">
    <div class="mockup-logo">
      <Image
        src={project.data.logo.src}
        alt={`${project.data.client} logo`}
        widths={{
          min: 72,
          max: 136,
          mobile: 96,
          desktop: 136,
        }}
        sizes={['(min-width: 48rem) 136px', 'clamp(4.25rem, 28%, 6.3125rem)']}
        class="logo"
      />
    </div>

    <Image
      src={project.data.mockup.desktop.src}
      alt={`${project.data.client} website design mockup`}
      widths={{
        min: 256,
        max: 1009,
        mobile: 343,
        desktop: 936,
      }}
      sizes={['(min-width: 90rem) 64rem', '(min-width: 48rem) 63vw', '100vw']}
      class="mockup-image"
    />
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .header {
    --eyebrow-colour: var(--colour-primary);

    max-width: rem(672px);
  }

  .project-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xl);
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-l);
  }

  .mockup-card {
    display: grid;
    justify-items: center;
    gap: var(--spacing-xl);
    padding-top: var(--spacing-m-4xl);
    padding-inline: var(--spacing-m-4xl);
    background-color: var(--colour-surface-100);
    border-radius: var(--border-radius-l);
    margin-top: var(--spacing-5xl);
    box-shadow: var(--shadow-subtle);
  }

  .mockup-logo {
    width: clamp(rem(68px), 28%, rem(101px));
  }

  @media screen and (min-width: rem(768px)) {
    .mockup-card {
      display: flex;
      gap: var(--spacing-2xl);
      align-items: start;
      justify-content: space-between;
    }

    .mockup-image {
      width: calc(1009 / 1200 * 100%);
      min-width: 0;
      flex-shrink: 1;
    }

    .mockup-logo {
      order: 1;
      flex: 0 0 136px;
      display: flex;
      justify-content: end;
    }
  }
</style>
