---
import Badge from '@/components/ui/Badge.astro'
import InfoCard from '@/components/ui/InfoCard.astro'
import SectionHeader from '@/components/ui/SectionHeader.astro'
import Thumbnail from '@/components/ui/Thumbnail/Thumbnail.astro'
import ThumbnailCaption from '@/components/ui/Thumbnail/ThumbnailCaption.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import SocialMediaBadge from '../ui/SocialMediaBadge.astro'
import type { CollectionEntry } from 'astro:content'
import Image from '../headless/Image.astro'

type Props = HTMLAttributes<'section'> & {
  member: CollectionEntry<'team'>
}

const { member, class: className, ...props } = Astro.props
---

<section class:list={cn('section container', className)} {...props}>
  <div class="content-left">
    <SectionHeader eyebrow="Q&A" level={2}>A bit more about me</SectionHeader>

    <Thumbnail class="thumbnail">
      <Image
        src={member.data.photo.src}
        alt={`${member.data.name}, ${member.data.position}`}
        widths={{
          min: 247,
          max: 708,
          mobile: 378,
          desktop: 435,
        }}
        sizes={['(min-width: 90rem) 28rem', '(min-width: 48rem) 38vw', '100vw']}
        class="member-image"
      />

      <ThumbnailCaption
        position="top right"
        class="thumbnail-caption thumbnail-caption-top-right"
      >
        <Badge variant="tertiary" size="s">{member.data.badge}</Badge>
      </ThumbnailCaption>

      <ThumbnailCaption
        position="bottom left"
        class="thumbnail-caption thumbnail-caption-bottom-left"
      >
        <div class="member-info">
          <p class="member-name">{member.data.name}</p>
          <p class="member-position">{member.data.position}</p>
        </div>
      </ThumbnailCaption>
    </Thumbnail>

    <div class="social-links">
      {
        member.data.socials.map((social) => (
          <SocialMediaBadge
            platform={social.platform}
            href={social.href}
            aria-label={`Visit ${member.data.name} on ${social.name}`}
          />
        ))
      }
    </div>
  </div>

  <div class="content-right">
    <div class="info-cards">
      {
        member.data.qa.map((item) => (
          <InfoCard heading={item.question} level={3}>
            {item.answer}
          </InfoCard>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .section {
    display: grid;
    gap: var(--spacing-3xl);
  }

  .thumbnail {
    margin-top: var(--spacing-xl);
  }

  .member-image {
    border-radius: var(--border-radius-m);
  }

  .thumbnail-caption {
    --background-color: var(--colour-surface-base);
    --border-radius: var(--border-radius-m);
    --inverted-border-radius: var(--border-radius-l);
  }

  .thumbnail-caption-top-right {
    --padding: var(--spacing-xs);
  }

  .thumbnail-caption-bottom-left {
    --padding: var(--spacing-s);
  }

  .member-info {
    max-width: rem(106px);
    display: grid;
    gap: var(--spacing-4xs);
  }

  .member-name {
    @include font(caption);
    color: var(--colour-text-contrast);
  }

  .member-position {
    @include font(meta-primary);
  }

  .social-links {
    margin-top: var(--spacing-xl);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-m);
  }

  .info-cards {
    display: grid;
    gap: var(--spacing-m);
  }

  @media screen and (min-width: rem(768px)) {
    .section {
      grid-template-columns: 445fr 737fr;
      gap: var(--spacing-5xl);
    }

    .content-left {
      max-width: rem(445px);
    }

    .content-right {
      max-width: rem(737px);
      justify-self: end;
    }
  }
</style>
