---
import Avatar from '@/components/ui/Avatar.astro'
import PublishedDate from '@/components/ui/PublishedDate.astro'
import SocialMediaBadge from '@/components/ui/SocialMediaBadge.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

type Props = HTMLAttributes<'div'> & {
  post: CollectionEntry<'blog'>
}

const { post, class: className, ...props } = Astro.props
---

<div class:list={cn('post-info', className)} {...props}>
  <div class="author">
    <Avatar
      src={post.data.author.avatar}
      alt={post.data.author.name}
      width={65}
    />

    <div class="author-info">
      <p>Written by</p>
      <p class="author-name">{post.data.author.name}</p>
      <p>Co-Founder</p>
    </div>
  </div>

  <PublishedDate date={post.data.publishedDate} />

  <div class="social-links">
    <SocialMediaBadge
      platform="linkedin"
      href="#"
      aria-label={`Visit ${post.data.author.name}'s LinkedIn page`}
    />
    <SocialMediaBadge
      platform="facebook"
      href="#"
      aria-label={`Visit ${post.data.author.name}'s Facebook page`}
    />
    <SocialMediaBadge
      platform="instagram"
      href="#"
      aria-label={`Visit ${post.data.author.name}'s Instagram page`}
    />
  </div>
</div>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .post-info {
    display: grid;
    gap: var(--spacing-m);
  }

  .author {
    display: flex;
    gap: var(--spacing-m);
    align-items: center;
  }

  .author-info {
    @include font(caption);
  }

  .author-name {
    color: var(--colour-text-contrast);
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
  }
</style>
