---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/class-names'
import { Icon } from 'astro-icon/components'

// prettier-ignore
export type ButtonVariant = 'primary' | 'primary-outline' | 'secondary' | 'secondary-outline' | 'ghost' | 'form'

type BaseProps = {
  variant?: ButtonVariant
  size?: 'm' | 'l' | 'link'
  arrow?: boolean
  disabled?: boolean
}

type ButtonProps = HTMLAttributes<'button'> & BaseProps

type LinkProps = HTMLAttributes<'a'> &
  BaseProps & {
    href: string
  }

type Props = ButtonProps | LinkProps

const {
  variant = 'primary',
  size = 'm',
  arrow,
  disabled,
  class: className,
  ...props
} = Astro.props
---

{
  'href' in props ? (
    <a
      {...props}
      href={disabled ? undefined : props.href}
      class:list={cn('button', className)}
      data-variant={variant}
      data-size={size}
    >
      <slot />
      {arrow && <Icon name="arrow-up-right" class="arrow" />}
    </a>
  ) : (
    <button
      {...props}
      class:list={cn('button', className)}
      data-variant={variant}
      data-size={size}
    >
      <slot />
      {arrow && <Icon name="arrow-up-right" class="arrow" />}
    </button>
  )
}

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .button {
    @include font(action);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-style: solid;
    cursor: pointer;
  }

  .arrow {
    --size: #{rem(16px)};

    flex-shrink: 0;
  }

  // Variants
  .button[data-variant='primary'] {
    background-color: var(--colour-primary);
    border-color: var(--colour-primary);
    color: var(--colour-text-on-primary);
    border-radius: var(--border-radius-xl);
  }

  .button[data-variant='primary-outline'] {
    background-color: transparent;
    border-color: var(--colour-primary);
    color: var(--colour-primary);
    border-radius: var(--border-radius-xl);
  }

  .button[data-variant='secondary'] {
    background-color: var(--colour-secondary);
    border-color: var(--colour-secondary);
    color: var(--colour-text-on-secondary);
    border-radius: var(--border-radius-xl);
  }

  .button[data-variant='secondary-outline'] {
    background-color: transparent;
    border-color: var(--colour-secondary);
    color: var(--colour-secondary);
    border-radius: var(--border-radius-xl);
  }

  .button[data-variant='ghost'] {
    background-color: transparent;
    border-color: transparent;
    color: var(--colour-text-contrast);
    border-radius: var(--border-radius-xl);
  }

  .button[data-variant='form'] {
    background-color: transparent;
    border-color: var(--colour-secondary);
    color: var(--colour-secondary);
    border-radius: var(--border-radius-s);
  }

  // Sizes
  .button[data-size='m'] {
    padding: 0.625em 1.25em;
    border-width: var(--border-width-m);
  }

  .button[data-size='l'] {
    padding: var(--spacing-m) var(--spacing-xl);
    border-width: var(--border-width-m);
  }

  .button[data-size='link'] {
    padding: 0;
    border-width: 0;
  }
</style>
