---
import { Icon } from 'astro-icon/components'
import FormField from '@/components/ui/FormField.astro'
import FormLabel from '@/components/ui/FormLabel.astro'
import type { AutocompleteValue } from '@/lib/types'
import FormHelper from './FormHelper.astro'

type Option = {
  value: astroHTML.JSX.OptionHTMLAttributes['value']
  text: string
}

type Props = {
  id: string
  name: string
  required?: boolean
  placeholder?: string
  autocomplete?: AutocompleteValue
  label?: string
  helper?: string
  options: Option[]
}

const {
  id,
  name,
  required,
  placeholder,
  autocomplete,
  label,
  helper,
  options,
} = Astro.props
---

<FormField>
  {
    label && (
      <FormLabel for={id} required={required}>
        {label}
      </FormLabel>
    )
  }
  <div class="form-select">
    <select
      id={id}
      name={name}
      required={required}
      autocomplete={autocomplete}
      class="form-input"
    >
      {
        placeholder && (
          <option value="" disabled selected hidden class="form-option">
            {placeholder}
          </option>
        )
      }
      {
        options.map((option) => (
          <option
            value={option.value}
            data-placeholder={option.value === '' ? '' : undefined}
            class="form-option"
          >
            {option.text}
          </option>
        ))
      }
    </select>
    <Icon name="chevron-down" class="form-select-chevron" />
  </div>
  {helper && <FormHelper>{helper}</FormHelper>}
</FormField>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .form-select {
    display: grid;
    align-items: center;
  }

  .form-input {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .form-select-chevron {
    --size: #{rem(16px)};

    margin-right: var(--spacing-m);
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: end;
  }

  .form-input::placeholder {
    @include font(body-italic);
    color: var(--colour-text-primary);
  }

  select.form-input[data-placeholder] {
    @include font(body-italic);
    color: var(--colour-text-primary);
  }

  .form-option {
    @include font(body);
    color: var(--colour-text-contrast);
  }
</style>

<script>
  const selects =
    document.querySelectorAll<HTMLSelectElement>('select.form-input')

  for (const select of selects) {
    if (select.value === '') {
      select.setAttribute('data-placeholder', '')
    }

    select.addEventListener('change', () => {
      if (select.value === '') {
        select.setAttribute('data-placeholder', '')
      } else {
        select.removeAttribute('data-placeholder')
      }
    })
  }
</script>
