---
import Image, { type ImageProps } from '@/components/headless/Image.astro'
import Avatar from '@/components/ui/Avatar.astro'
import Thumbnail from '@/components/ui/Thumbnail/Thumbnail.astro'
import ThumbnailCaption from '@/components/ui/Thumbnail/ThumbnailCaption.astro'
import { cn } from '@/lib/class-names'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

type Props = HTMLAttributes<'section'> & {
  testimonial: CollectionEntry<'testimonials'>
  image: {
    widths: ImageProps['widths']
    sizes: ImageProps['sizes']
  }
}

const { testimonial, image, class: className, ...props } = Astro.props
---

<section class:list={cn('testimonial-card', className)} {...props}>
  <Thumbnail>
    <Image
      src={testimonial.data.image}
      alt=""
      widths={image.widths}
      sizes={image.sizes}
      class="thumbnail-image"
    />

    <ThumbnailCaption position="top left" class="thumbnail-caption">
      <div class="client">
        <Avatar
          src={testimonial.data.avatar}
          alt={`${testimonial.data.author}, ${testimonial.data.client} ${testimonial.data.position}`}
          width={43}
        />
        <div class="client-info">
          <p class="client-name">{testimonial.data.author}</p>
          <p class="client-title">
            {testimonial.data.client}
            {testimonial.data.position}
          </p>
        </div>
      </div>
    </ThumbnailCaption>
  </Thumbnail>

  <p class="quote">“{testimonial.data.quote}”</p>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .testimonial-card {
    display: grid;
    gap: var(--spacing-xl);
  }

  .thumbnail-image {
    aspect-ratio: 421/419;
    object-fit: cover;
    border-top-right-radius: var(--border-radius-l);
    border-bottom-left-radius: var(--border-radius-l);
    border-bottom-right-radius: var(--border-radius-l);
  }

  .thumbnail-caption {
    --background-color: var(--colour-surface-base);
    --border-radius: var(--border-radius-m);
    --inverted-border-radius: var(--border-radius-l);
    --padding: var(--spacing-s);
  }

  .client {
    display: flex;
    align-items: start;
    gap: var(--spacing-xs);
    max-width: rem(149px);
  }

  .client-name {
    @include font(meta-primary);
    color: var(--colour-text-contrast);
  }

  .client-title {
    @include font(meta-secondary);
    color: var(--colour-text-primary);
  }
</style>
