---
import { Image } from 'astro:assets'
import Heading from '@/components/headless/Heading.astro'
import VideoSource, {
  type VideoModule,
} from '@/components/headless/VideoSource.astro'
import PlayIcon from '@/components/icons/PlayIcon.astro'
import Avatar from '@/components/ui/Avatar.astro'
import Thumbnail from '@/components/ui/Thumbnail/Thumbnail.astro'
import ThumbnailCaption from '@/components/ui/Thumbnail/ThumbnailCaption.astro'

type Props = {
  client: string
  video: {
    src: Promise<VideoModule>
    type: string
  }
  thumbnail: Promise<{ default: ImageMetadata }>
  avatar: Promise<{ default: ImageMetadata }>
  author: {
    name: string
    position: string
  }
  quote: string
}

const { client, video, thumbnail, avatar, author, quote } = Astro.props
---

<section class="testimonial-card">
  <Thumbnail>
    <button
      class="thumbnail-media-wrapper"
      aria-label={`Play ${client}'s testimonial video`}
    >
      <video playsinline muted preload="none" class="thumbnail-video">
        <VideoSource src={video.src} type={video.type} hash="t=0.001" />
      </video>

      <Image
        src={thumbnail}
        alt=""
        widths={[365, 416, 730, 857, 1714]}
        sizes="(min-width: 64rem) min(30vw, 416px), 100vw"
        class="thumbnail-image"
      />
      <PlayIcon class="play-icon" />
    </button>

    <ThumbnailCaption
      position="top left"
      class="thumbnail-caption swiper-no-swiping"
    >
      <div class="client-info">
        <Avatar src={avatar} alt={`${author.name}, ${client}`} width={43} />
        <div>
          <p class="client-name">{author.name}</p>
          <p class="client-description">
            {author.position}
          </p>
        </div>
      </div>
    </ThumbnailCaption>
  </Thumbnail>

  <p class="quote swiper-no-swiping">“{quote}”</p>
</section>

<style lang="scss">
  @use 'functions' as *;
  @use 'mixins' as *;

  .testimonial-card {
    display: grid;
    gap: var(--spacing-xl);
  }

  .thumbnail-media-wrapper {
    border-radius: var(--border-radius-l);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      .play-icon {
        --scale: 1.1;
      }
    }

    &.active {
      .play-icon {
        display: none;
      }
    }
  }

  .play-icon {
    --scale: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: transform var(--transition-duration-default)
      var(--transition-ease-default);
  }

  .thumbnail-image {
    aspect-ratio: 421/419;
    object-fit: cover;
  }

  .thumbnail-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thumbnail-caption {
    --background-color: var(--colour-surface-base);
    --border-radius: var(--border-radius-m);
    --inverted-border-radius: var(--border-radius-l);
    --padding: var(--spacing-s);
  }

  .client-info {
    display: flex;
    align-items: start;
    gap: var(--spacing-xs);
    max-width: rem(132px);
  }

  .client-name {
    @include font-meta-primary;
    color: var(--colour-text-contrast);
  }

  .client-description {
    @include font-meta-secondary;
    color: var(--colour-text-primary);
  }
</style>

<script>
  // Videos
  window.addEventListener('load', () => {
    const wrappers = document.querySelectorAll(
      '.testimonial-card .thumbnail-media-wrapper',
    )

    for (const wrapper of wrappers) {
      const video = wrapper.querySelector('video')!

      let started = false

      wrapper.addEventListener('mouseenter', () => {
        if (!started) {
          video.play()
        }
      })

      wrapper.addEventListener('mouseleave', () => {
        if (!started) {
          video.pause()
          video.currentTime = 0
        }
      })

      wrapper.addEventListener('click', () => {
        if (!started) {
          video.pause()
          video.currentTime = 0
          video.muted = false
          video.controls = true

          setTimeout(() => {
            video.play()
          }, 0)

          wrapper.classList.add('active')

          started = true
        }
      })

      video.addEventListener('ended', () => {
        video.pause()
        video.currentTime = 0
        video.muted = true
        video.controls = false

        wrapper.classList.remove('active')

        started = false
      })
    }
  })
</script>
